<form
  *ngIf="showForm"
  class="add-form"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
 
>
 <div >
  <label for="title">Book Title: </label>
  <input id="title" type="text" formControlName="title" placeholder="Add Book Tiltle" />
</div>
<div >
  <label for="price">Price$: </label>
  <input id="price" type="text" formControlName="price"  placeholder="Add Price$"/>
</div>
   <div >
    <label for="stock">In stock</label>
    <input type="checkbox" name="stock" formControlName="stock" id="stock" />
  </div>




 <app-button color="green" text="Save" ></app-button>

</form>