.btn {
  background: green;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 5px;
  margin: 0px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.9);
}

.btn {
  display: block;
  width: 100%;
}
.btn:hover {
  background: #4753ff;
  color: white;
}
