<div *ngIf="book">
  <h2>{{ book.title | uppercase }} Details</h2>
  <div><span>id: </span>{{ book.id }}</div>
  <div class="form-control">
    <label for="book">Book</label>
    <input [(ngModel)]="book.title" id="title" placeholder="Add Book Tiltle" />
  </div>
  <div class="form-control">
    <label for="price">Price$</label>
    <input name="price" [(ngModel)]="book.price" placeholder="Add Price$" />
  </div>
  <div class="form-control form-control-check">
    <label for="stock">In stock</label>
    <input type="checkbox" [(ngModel)]="book.stock" />
  </div>

  <app-button color="black" text="Back" (click)="goBack()"></app-button>
  <app-button color="green" text="Save" (click)="save()"></app-button>
</div>
