<div *ngIf="book">
  <h2>Edit {{ book.title | uppercase }}</h2>
  
  <div class="form">
    <label for="book">Book</label>
    <input [(ngModel)]="book.title" id="title" placeholder="Add Book Tiltle" />
  </div>
  <div class="form">
    <label for="price">Price$</label>
    <input name="price" [(ngModel)]="book.price" placeholder="Add Price$" />
  </div>
  <div class="form form-check">
    <label for="stock">In stock</label>
    <input type="checkbox" [(ngModel)]="book.stock" />
  </div>

  <app-button color="black" text="Back" (click)="goBack()"></app-button>
  <app-button color="green" text="Save" (click)="save()"></app-button>
</div>
